@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
    font-family: "Lato", sans-serif;
    background: #6d4528; /* Changed from black to clay-court-dark */
    color: white;
}

.hero-sub-title{
    @apply font-bold
    text-clay-dust
    pl-2
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}